{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1 style="font-size:85%">BUY</h1>
    <p>Type below the symbol of your chosen stock and the number of shares you would like to buy.</p>
    <br>

    <form action="/buy" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="stock symbol" type="text">
        </div>
        <div>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of shares" type="text">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Buy</button>

{% endblock %}